@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --white: #FFFFFF;
    --black: #000000;

    --linen: #F9DFDC;
    --blue-chill: #0A81AB;
    --deep-sapphire: #0C4271;
}


/* BEGIN GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: var(--black);
}

body {
    background-color: var(--blue-chill);
    margin: 10px;
}

.container-main {
    background-color: var(--linen);
    gap: 2rem;
}

/* BEGIN NAV AND FIXED-BOTTOM-BORDER */
.nav,
.fixed-border-bottom {
    position: fixed;
    width: 100%;
}

.nav {
    top: 0;
}

.fixed-border-bottom {
    bottom: 0;
    height: 10px;
    background-color: var(--blue-chill);
}

.nav-ul {
    display: grid;
    grid-template-areas:
        'dev spacer portfolio contact about';
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;

    background-color: var(--blue-chill);
}

#nav-li-id-1-dev {grid-area: dev;}
#nav-li-space {grid-area: spacer;}
#nav-li-id-2-portfolio {grid-area: portfolio;}
#nav-li-id-3-contact {grid-area: contact;}
#nav-li-id-4-about {grid-area: about;}

.nav-li {
    margin: 10px;
    padding: 5px 10px;
}

.nav-li:nth-of-type(5) {
    margin-right: 25px;
}

.nav-li-right:hover {
    outline: 2px solid var(--deep-sapphire);
    border-radius: 25px;
}


/* BEGIN SEMI-GLOBAL */
.flex-cen-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb-cen-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.grid-col-4 {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    /*gap: 1rem;*/
}

.grid-col-2 {
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.grid-about-project-grid-1 {
    grid-column-start: 1;
    grid-row-start: 1;

}

.grid-about-project-grid-2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.grid-about-project-grid-3 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.grid-about-project-grid-4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.container-about-project img,
.container-projects img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}



/* BEGIN LANDING */
.landing {
    width: 90%;
    margin: 0 auto;
}


/* BEGIN CONTAINER-ABOUT */
.container-about {
    width: 90%;
    margin: 0 auto;
    /*margin-top: 200px; !* PH *!*/
}

.container-about-info {

}

.container-about-project {
    /*display: flex;*/
    /*justify-content: space-evenly;*/

    margin-top: 50px;
}

/* BEGIN CONTAINER-PROJECT */
.container-projects {
    width: 90%;
    margin: 0 auto;
    margin-top: 200px; /* PH */
    /*margin-bottom: 150px;*/
}

/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}


/* BEGIN DEV */


* {
    /*outline: 1px dashed var(--black);*/
}

.ph-500x1000 {
    height: 500px;
    width: 1000px;
    margin-top: 150px;
    outline: solid 1px var(--black);
    /*background-color: var(--black);*/
}

.ph-300x1000 {
    height: 400px;
    width: 1000px;
    margin-top: 150px;
    outline: solid 1px var(--black);
    /*background-color: var(--black);*/
}

.ph-300x240 {
    height: 240px;
    width: 300px;
    outline: solid 1px var(--black);
    /*background-color: var(--black);*/
}


.centered-1 {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;

}

.centered-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

.centered-3 {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

/* END DEV */