@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --white: #FFFFFF;
    --black: #000000;

    --linen: #F9DFDC;
    --blue-chill: #0A81AB;
    --deep-sapphire: #0C4271;
}


/* BEGIN GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: var(--black);
}

body {
    background-color: var(--blue-chill);
    margin: .2rem;
}

a {
    color: black;
    text-decoration: none;
}

.container-main {
    background-color: var(--linen);
}


/* BEGIN NAV AND FIXED-BOTTOM-BORDER */
.nav,
.fixed-border-bottom {
    position: fixed;
    width: 100%;
    background-color: var(--blue-chill);
}

.nav {
    top: 0;
}

.fixed-border-bottom {
    bottom: 0;
    height: .3rem;
}

.nav-ul {
    display: grid;
    grid-template-areas:
        'dev spacer portfolio contact about';
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    justify-items: center;
}

/* @formatter:off */
#nav-li-id-1-dev {grid-area: dev;}
#nav-li-space {grid-area: spacer;}
#nav-li-id-2-portfolio {grid-area: portfolio;}
#nav-li-id-3-contact {grid-area: contact;}
#nav-li-id-4-about {grid-area: about;}
/*!* @formatter:on *!*/

.nav-li {
    margin: .6rem 0;
    padding: .4rem .8rem;
}

.nav-li:nth-of-type(5) {
    margin-right: 1.5rem;
}

.nav-li-right:hover {
    /*outline: 2px solid var(--deep-sapphire);*/
    box-shadow: .2rem .2rem .2rem var(--deep-sapphire);
    border-radius: .3rem;
}

.nav-li-right:active {
    outline: .1rem solid var(--deep-sapphire);
    box-shadow: 0 0 0;
}

/* END NAV AND FIXED-BOTTOM-BORDER */

.flex-cen-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BEGIN LANDING */
.landing {
    width: 95%;
    margin: 0 auto;
}


/* BEGIN CONTAINER-ABOUT */
.container-about {
    width: 95%;
    margin: 0 auto;
}

.container-about-thumbs {
    display: grid;
    grid: repeat(4, 26rem) / 26rem;
    grid-template-areas:
        'img-1'
        'img-2'
        'img-3'
        'img-4';
    grid-gap: .3rem;
    justify-content: center;
    align-content: center;
}

.container-about-thumbs .img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    border: .2rem solid var(--deep-sapphire)
}

.container-about-thumbs .img-1 {
    background-image: url("../img/weather-400x385.png");
}

.container-about-thumbs .img-2 {
    background-image: url("../img/weather-400x385.png");
}

.container-about-thumbs .img-3 {
    background-image: url("../img/weather-400x385.png");
}

.container-about-thumbs .img-4 {
    background-image: url("../img/weather-400x385.png");
}

/* BEGIN CONTAINER-PROJECTS */

.container-projects {
    width: 95%;
    margin: 0 auto;
}

/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {
    .container-about-thumbs {
        grid: 15.5rem 15.5rem / 1fr 1fr;
        grid-template-areas:
            'img-1 img-2'
            'img-3 img-4';
    }

    .container-about-thumbs .img {
        background-image: url("../img/weather-400x385.png");
        margin: 0 auto;
        max-width: 90%;
    }
}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {
    .container-about-thumbs {
        grid: 15.5rem / repeat(4, 1fr);
        grid-template-areas:
            'img-1 img-2 img-3 img-4';
    }
}


* {
    /*outline: 1px dashed var(--black);*/
}

.ph-500x1000 {
    height: 500px;
    width: 1000px;
    margin-top: 150px;
    border: 3px solid var(--deep-sapphire);
    /*background-color: var(--black);*/
}

.ph-300x1000 {
    height: 400px;
    width: 1000px;
    margin-top: 150px;
    border: 3px solid var(--deep-sapphire);
    /*background-color: var(--black);*/
    margin-bottom: 50px;
}

.ph-300x240 {
    height: 240px;
    width: 300px;
    border: 3px solid var(--deep-sapphire);
    /*background-color: var(--black);*/
}